.home {
  height: 90vh;
  background-image: url('https://source.unsplash.com/random/1600x900');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
}
